---
BasedOnStyle: LLVM
TabWidth: '2'
UseTab: Never
Language: Cpp
AllowShortFunctionsOnASingleLine: false
AlignConsecutiveMacros: Consecutive
IndentPPDirectives: AfterHash
IncludeCategories: [
  {Regex: '<winsock.*\.h>', Priority: -3},
  {Regex: '<windows\.h>', Priority: -2},
  {Regex: '<winbase\.h>', Priority: -1},
  {Regex: '<win.*\.h>'  , Priority: 0},
]
...
