**.o
**.a
**.obj
**.dll
FUZZ*.HC
**.exe
CMakeLists.txt.user
CMakeCache.txt
CMakeFiles
CMakeScripts
Testing
Makefile
cmake_install.cmake
install_manifest.txt
compile_commands.json
CTestTestfile.cmake
_deps
Tmp.DD.Z
Src/STAGE1.HC
aiwnios
HCRT2.BIN
HCRT2.DBG.Z
build
Registry.HC.Z
*.orig
